body {
  background-color: #424242;
  color: #fff;
  font-size: 1.2rem;
}

nav {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

li {
display: inline;

}
h2 {
  color: #1460aa;
}

main {
  align-items: center;
  padding: 5px;
}

.section__main {
    align-self: center;
  background-color: #c9c9c9;
  color: aliceblue;
  max-width: 75vw;
  vertical-align: top;
  margin : auto;
  padding: 10px;
  text-align: center;
    }

.article__main-box {
  background-color: #a0b9bf;
  display: inline-block;
  max-width: 290px;
  height: 300px;
  overflow: auto;
  vertical-align: top;
  margin: 10px;
}

.article__main-h2 {
    font-size: 1.6rem;
    text-decoration:underline;
}

.article__main-paragraf {
    text-align: justify;
    font-family: fantasy;
    padding: 5px;
}
