body {
  background-color: #424242;
  color: #fff;
  font-size: 1.2rem;
}

nav {
    background-color: purple;
    display: block;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    
}

li {
display: inline;
}

ul {
  text-align: end;
  margin: 0 10px 0 0;
}
h2 {
  color: #1460aa;
}

main {
  align-items: center;
  padding: 5px;
}

a {
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3px;
  margin-bottom: 2px;

}

a:hover {
  background-color: mediumorchid;
  text-decoration: underline;

}

footer {
  display:block;
  text-align: center;
  margin:auto;
}

.section__main {
    align-self: center;
  background-color: #c9c9c9;
  color: black;
  max-width: 85vw;
  vertical-align: top;
  margin : auto;
  padding: 10px;
  text-align: center;
    }

    .section__paragraf {
	    text-align: center;
	    text-decoration: underline;
	    font-size: 1.3rem;
      font-family: monospace;
      font-weight: 600;
    }

.article__main-box {
  background-color: #999999;
  display: inline-block;
  max-width: 25vw;
  height: 300px;
  overflow: auto;
  vertical-align: top;
  margin: 10px;
}

.article__main-h2 {
    font-size: 1.6rem;
    text-decoration:underline;
}

.article__main-paragraf {
    text-align: justify;
    font-family: fantasy;
    padding: 5px;
}

.footer__paragraf {
  width: 300px;

}
